[loggers]
keys = root, debugLogger
[handlers]
keys = consoleHandler, debugFileHandler
[formatters]
keys = logFormatter
[logger_root]
level = DEBUG
handlers = consoleHandler
[logger_debugLogger]
level = DEBUG
handlers = consoleHandler, debugFileHandler
qualname = debugLogger
propagate = 0
[handler_consoleHandler]
class = StreamHandler
level = DEBUG
formatter = logFormatter
args = (sys.stdout,)
[handler_debugFileHandler]
class = handlers.RotatingFileHandler
level = DEBUG
formatter = logFormatter
args = ('./app.log',)
delay = False
backupcount = 10
maxbyte = 10000
[formatter_logFormatter]
format=%(asctime)s - %(name)s - %(levelname)s - %(message)s
datefmt=